body #main-content .panel-card > .panel-body > img {
  width: 100%;
  height: 70em;
  max-height: 300px;
}
hr {
  border:none;
  width: 90%;
  height: 50px;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -40px auto 10px;
}