<div class="row properties">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Type d'expérience</h3>
            </div>
            <div class="panel-body">
                <strong>ID :</strong> {% if experienceType.id %}{{ experienceType.id }}{% endif %}<br/>
                <strong>Type d'expérience :</strong> {% if experienceType.name %}{{ experienceType.name }}{% endif %}<br/>
            </div>
        </div>
    </div>
</div>